# Environment variables
.env

# Node modules
node_modules/

# Logs
logs
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
cookies.txt
wgcf-account.toml
wgcf_2.2.26_linux_amd64
wgcf_2.2.29_linux_amd64
wgcf-profile.conf
